<mat-toolbar color="primary" fxLayoutAlign="start center">
	<h1 class="mat-headline">LocalCast Weather</h1>
</mat-toolbar>
<div fxLayoutAlign="center">
	<p class="mat-subheading-2">Your city, your forecast, right now!</p>
</div>
<div fxLayoutAlign="center" class="mb2">
	<app-city-search></app-city-search>
</div>
<div fxLayout="row" fxLayoutAlign="center">
	<mat-card fxFlex="18.75em" class="bgColor">
		<mat-card-header class="mat-typography" fxLayoutAlign="center">
			<mat-card-title>
				<h2>Current Weather</h2>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<app-current-weather></app-current-weather>
		</mat-card-content>
	</mat-card>
</div>

<router-outlet></router-outlet>
