@import '../assets/scss/variables/_all';
div.center {
	background: $color2;
	box-sizing: border-box;
	margin: 0 auto 4em;
	max-width: 670px;
	padding: 2em;
	text-align: center;
}
.container {
	background: $color1;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1220px;
	padding: 2em;
	width: 100%;
}
h1, p {
	color: $color1;
}