@import '~@angular/material/theming';

$localcast-primary: mat-palette($mat-yellow, 300);
$localcast-accent: mat-palette($mat-blue-grey, 800);
$primary: mat-color($localcast-primary);
$primaryL: mat-color($localcast-primary, lighter);
$primaryD: mat-color($localcast-primary, darker);
$accent: mat-color($localcast-accent);
$accentL: mat-color($localcast-accent, lighter);
$accentD: mat-color($localcast-accent, darker);