@import '../../assets/scss/variables/_all';
h2 {
   margin-bottom: 0;
}
.date, .location {
   color: $accentD;
}
.desc {
   color: $accent;
}
.desc, .temperature {
   color: $accentD;
}
.date {
   font-style: italic;
}
.desc {
   text-transform: uppercase;
}
.icon {
   margin-right: .5em;
   width: 5em;
}
.padBot {
   padding-bottom: .5em;
}
.right {
   text-align: right;
}
.temperature {
   margin-bottom: 0;
}